<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="fastapitutorial.com" content="Nofoobar">
    
    {% block title %}
    {% endblock %}
</head>

<body>
    {% block navigation %}
    <nav> 
        <a href="/menu/arena"> Arena </a>
        <a href="/menu/danamall"> DanaMall </a>
        <a href="/menu/palazzo"> Palazzo </a>
        <a href="/menu/triniti"> Triniti </a>
      
    </nav>      
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}


</body>
</html>
