{% extends "templates/base.html" %}


{% block title %} 
  <title>MagicINFO Server</title>
{% endblock %} 



{% block content %} 
  <div class="container">
    <h1 class="display-4">Менюшечка mooon в ТРЦ Dana Mall</h1>
  </div>

  <table bgcolor="#c0c0c0" border="1">
  <tr> 
    {% for value in data %}
    {% for spl in value %}
      <td valign="top">
          <table border="1">
            <thead>
              <strong>{{ spl.playlist_name }}</strong>
            </thead>
            {% for content in spl.content_list %}
            <tr>
              <td><img src="{{ url_for('static', path='img/no_image_found.jpg') }}" alt="" width="150" height="150"> </td>
              <td>{{ content }}</td>
            </tr>
            {% endfor %}
          </table>
      </td>
    {% endfor %}
    {% endfor %}
  </tr>
  </table>

{% endblock %} 